/* Variables */

:root {
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --WHITE: #ffffff;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --body-background: #e5e5e5;
  --brand-color: #2e2f42;
}

/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--WHITE);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* End */

/* Multiple */

/* Headers */

.h1 {
  margin-bottom: 48px;
  color: var(--WHITE);
  font-size: 56px;
  line-height: 1.07;
  width: 496px;
}

.h2 {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  text-transform: capitalize;
}

.h3 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.title {
  color: var(--brand-color);
}

.hidden {
  display: none;
}

/* Section/Containers */

.section {
  padding: 120px 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Links */

.link {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 500;
}

.link:hover,
.link:focus {
  color: var(--OCEAN);
}

.current-link {
  color: var(--OCEAN);
}

/* Buttons */

.button {
  background: var(--IRIS);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--WHITE);
  font-family: inherit;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}

.button:hover,
.button:focus {
  background: var(--OCEAN);
}

.pbutton {
  background: var(--CLOUD);
  border: 1px solid var(--CORNFLOWER);
  cursor: pointer;
  color: var(--IRIS);
  background-color: var(--CLOUD);
  font-family: inherit;
  border-radius: 4px;
  height: 48px;
  padding: 12px 24px;
}

.pbutton:hover,
.pbutton:focus {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--OCEAN);
}

.active-all {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--OCEAN);
}

/* Other */

.image {
  display: block;
  max-width: 100%;
}

.card-li {
  border: 1px solid var(--CORNFLOWER);
}

.cards {
  display: flex;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
/* End */

/* Header */

.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  background-color: var(--WHITE);
}

.address {
  display: block;
  padding: 24px 0;
  color: var(--SLATE);
  text-decoration: none;
  font-style: normal;
}

.address:hover,
.address:focus {
  color: var(--OCEAN);
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 76px;
}

.h-link {
  display: block;
  padding: 24px 0;
}

/* Footer */

.footer {
  background-color: var(--brand-color);
  color: var(--WHITE);
  padding: 100px 0;
}

.f-text {
  margin-top: 16px;
  max-width: 264px;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
}

.logo-item {
  color: var(--IRIS);
}

.logo.white {
  color: var(--WHITE);
}

.h-logo {
  padding: 24px 0;
}
/* End */

/* Main */

/* Index.html */

/* Hero */

.hero-section {
  padding: 188px 0;
  background-color: var(--brand-color);
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

/* Our Advantages */

.our-advantages > li {
  max-width: calc(100% - 72px / 4);
}

.our-advantages {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* What Are We Doing */

.wawd {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Our Team */

.section-our-team {
  background-color: var(--CLOUD);
}

.our-team-li {
  width: 264px;
  height: 380px;
  background-color: var(--WHITE);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}

.our-team-li > li {
  max-width: calc(100% - 72px / 4);
}

.card-text {
  padding-top: 32px;
  text-align: center;
}
/* -------------------- */

/* Portfolio.html */

/* Main */
.p-section {
  padding-top: 96px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* Cards */

.p-card {
  max-width: calc(100% - 48px / 3);
  width: 360px;
}
.card-link {
  display: block;
  text-decoration: none;
}

.card-link {
  color: var(--SLATE);
}

.card-link-text {
  padding: 32px 16px;
}
